@import '../node_modules/bootstrap/scss/bootstrap';

body {
  padding-top: 0;
}

.jumbotron {
  justify-content: center;
  height: 78vh;
  margin-bottom: 0;

  h1 {
    margin-top: 3em;
    text-align: center;
    font-size: 4em;
  }
}

header {
  display: flex;
  margin: 1em 9em;
  justify-content: space-between;
  list-style-type: none;

  span {
    font-size: 2em;
  }
}

.projects-container {
  width: 100%;
  max-width: 1200px;
  justify-content: space-around;
  margin-top: 2em;
}

.card-text {
  font-size: .9em;
}

.card-title {
  font-size: 1.1em;
}


